@font-face {
    font-family: 'Kazmann';
    src: url('../fonts/Kazmann.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Exo Ul';
    src: url('../fonts/Exo2.0-ExtraLight.otf') format('opentype');
    font-style: normal;
}
@font-face {
    font-family: 'Exo R';
    src: url('../fonts/Exo2.0-Regular.otf') format('opentype');
    font-style: normal;
}
@font-face {
    font-family: 'Exo Bold';
    src: url('../fonts/Exo2.0-SemiBold.otf') format('opentype');
    font-style: normal;
}
@font-face {
    font-family: 'Exo ExtraBold';
    src: url('../fonts/Exo2.0-ExtraBold.otf') format('opentype');
    font-style: normal;
}
@font-face {
    font-family: 'Exo LI';
    src: url('../fonts/Exo2.0-LightItalic.otf') format('opentype');
    font-style: normal;
}
@font-face {
    font-family: 'IBML';
    src: url('../fonts/IBMPlexSans-Light.ttf') format('truetype');
    font-style: normal;
}
@font-face {
    font-family: 'IBMT';
    src: url('../fonts/IBMPlexSans-Thin.ttf') format('truetype');
    font-style: normal;
}
@font-face {
    font-family: 'IBMB';
    src: url('../fonts/IBMPlexSans-Bold.ttf') format('truetype');
    font-style: normal;
}
@font-face {
    font-family: 'IBMR';
    src: url('../fonts/IBMPlexSans-Regular.ttf') format('truetype');
    font-style: normal;
}
@font-face {
    font-family: 'IBMSB';
    src: url('../fonts/IBMPlexSans-SemiBold.ttf') format('truetype');
    font-style: normal;
}
@font-face {
    font-family: 'IBMB';
    src: url('../fonts/IBMPlexSans-Bold.ttf') format('truetype');
    font-style: normal;
}
@font-face {
    font-family: 'Mignon';
    src: url('../fonts/Mignon-Regular.otf') format('opentype');
    font-style: normal;
}