@media all and (max-width:1600px){
	#headerSocials{position: absolute;right: 25px;}
	.prjDscr{height: 80%;width: 90%;top: 25%;}
	.prjSqr{margin-bottom: 40px;}
	.servDscr{min-height:90px;}
	a.servMore:hover{width: 95%;}
	
}

@media all and (max-width:1520px){
	#headerContacts{margin-right:130px;}
	#procText{padding-left: 700px;padding-right: 100px;}
	.toLP{height:500px;}
	.toLPDscr{font-size: 19px;margin-top: 40px;}
}

@media all and (max-width:1366px){
	.servDscr{min-height:110px;}
	#pPager{padding-right:40px;}
	#pPager #prev span, #pPager #next span{margin: 0 5px;}
	#pPager img{height:20px;top:0px;}
	.toLPDscr{font-size: 19px;margin-top: 30px;padding: 30px;}
}

@media all and (max-width:1280px){
	#pfTop{border-width: 0 100vw 170px 0;}
	#pfBottom{border-width: 170px 0 0 100vw;}
	.portfolioFeature{width: 23%;}
	#personInfo{margin-left: 570px;}
	#procText{padding-left: 650px;padding-right: 80px;}
	#pPager img{height:17px;top:-2px;margin: 0 5px;}
	.toLP{height:450px;}
	
	.toLPLink{bottom:40px;left: 50%;margin-left: -140px;width:280px;}
	.toLPLink:hover{width: 320px;margin-left: -160px;}
	
	img.articlePic{max-width:400px;}
}
@media all and (max-width:1278px){
	svg {transform: scale(1.2);}
	#pslPic img{max-width: 600px;}
	#calculator{width: 100%;}
	.calcLabel, #calcInputs, #calcType{text-align: center;}
	
	#pslText{width: 100%;}
	.exmPic.flr{max-width: 400px;}
	a.menuItem{font-size:18px;top: 29px;margin: 0 5px;}
	#headerContacts{position: absolute;	top: 15px;	right: 0;margin-right:0;}
	.headerContact{font-size: 15px;top: 0px;margin-left: 15px;}
	.headerContact img{height:25px;margin-right:5px;top:-4px;}
	.headerContact:first-child img{margin-right:0px;}
	#headerSocials{position: absolute;top:47px;right:2%;}
	#headerSocials a{height: 17px;margin-left:7px;}
	
	#features{display: flex;flex-direction: row;flex-wrap: nowrap;justify-content:space-between;}
	.feature{width:auto;text-align: center;flex:  1 1 100px;}
	.fText{line-height: 1;margin-top: 10px;}
	
	#tourSection{height:500px;}
	
	#causes{display: none;}
	#causesMobile{display: block;text-align: center;}
	.causeMob{display: inline-block;width: 48%;text-align: center;margin-bottom: 80px;vertical-align: top;}
	.cPic{margin: 0 auto;margin-bottom: 10px;}
	
	#projects{display:block;}
	.project{width: 100%;height: 400px;}
	.project img{height: auto;width: 100%;}
	.project:nth-child(2){width: 100%;}
	.prjDscr{height: 80%;width: 90%;top: 120px;}
	.prjSqr{margin-bottom: 20px;}
	#portfolioProjects{border: none;border-top: 5px solid #141414;}
	#portfolioProjects .project{border-left: none;border-right: none;}
	.project:nth-child(3n+2){width: 100%;}
	
	.service{width:90%;}
	.servDscr{min-height:auto;}
	
	#personSection{height: auto;}
	#personContent{text-align: center;}
	#personPic{display: inline-block;position: relative;left: 0;bottom: -50px;width: 300px;	height: 300px;}
	#personPic img{height: 450px;}
	#personInfo{margin-left:0;text-align: center;}
	#pName{margin-bottom:20px;}
	#pQuote{width: 70%;margin: 0 auto;padding-bottom: 130px;}
	#quotes{top: 0;}
	#pQuote p{margin-top: 30px;text-align: left;}
	#sign{position: absolute;right: 0;bottom: 0;height: 120px;}
	
	
	#processBlc{height:auto;background-size: cover;padding-bottom: 100px;padding-top:60px;}
	#procPic{width: 500px;height: 500px;margin: 0 auto;margin-bottom: 20px;}
	#procTitle{position: relative;top:0;left:0;padding-left: 40px;text-align: left;width:100%;box-sizing: border-box;margin-bottom:20px;}
	#procText{position: relative;top: 0;padding: 0;padding: 0 50px;margin-bottom: 20px;}
	#pPager{position: relative;bottom: 0;padding: 0;text-align: center;}
	#toLPs{display:block;}
	.toLPDscr{font-size: 19px;margin-top: 20px;padding: 20px;}
	.toLP{width: 100%;height: 450px;overflow: hidden;position: relative;}
	.toLP:nth-child(2){width: 100%;}
	.toLP img{height: auto;	width: 100%;}
}

@media all and (max-width:1160px){
	/*#percentsDescr{width: 100%;text-align: center;margin-top: 0;}*/
	/*#diagramm{position: relative;top:0;left: 0;text-align: center;width: 100%;height: 500px;}*/
	svg{transform:scale(1);}
	.percent{width: 110px;}
	.digit{font-size: 21px;margin-bottom: 5px;}
	.percentTitle{font-family: 'IBMR';font-size: 13px;height: 40px;}
	.percentColor{height: 22px;}
	
	
}
@media all and (max-width:1024px){
	
	.percent{margin-right: 2px;}
	.prcsText{width: 100%;}
	#citiesVideo{width: 96%;}
	#planningFormSection{padding: 230px 0;}
	img.articlePic{max-width:300px;}
	.exmTitle, .artTitle{font-size:27px;}
	.articleText p{font-size: 19px;margin-bottom: 15px;}
	#nameBlock p{font-size: 45px;}
	#nameBlock p#nbSm{font-size: 21px;}
	#cdSectionTitle{font-size: 31px;}
	#cdSectionCaption{width: 80%;font-size: 19px;}
	
}
@media all and (max-width:980px){
	.beginTitle, .prcsTitle{font-size: 25px;}
	.prcsSubTitle{font-size: 19px;}
	.prcsText p{font-size: 17px;}
	
	#percentsDescr{width: 100%;text-align: center;margin-top: 0;}
	#diagramm{position: relative;top:0;left: 0;text-align: center;width: 100%;height: 400px;}
	svg{top: -10px;}
	
	#weCallName, #weCallPhone, #weCallMail, #calcType span, #calcPhone, #calcAddress, #calcSquare, #pfForm input, #projectSampleForm input{display: block;width: 280px;margin: 0 auto;margin-bottom: 10px;}
	#weCallAgree{text-align: center;}
	
	#copy{display: block;padding-top: 150px;text-align: center;width: 100%;}
	#footerContacts{width: 100%;top: 100px;}
	.footerContact{display: block;width: 100%;text-align: center;}
	#footerSocial{top: 20px;}
	#footerMenu{display: block;}
	.menuCol a, .menuCol a.mainLink{text-align: center;}
	
	
}
@media all and (max-width:940px){
	#pricesSubMenu{text-align: center;}
	#citiesVideo{height: 400px;}
	.prcsTitle{font-size: 19px;}
	.prcsText p{font-size: 17px;}
	.exmPic.flr, exmPic.fll{float: none;max-width: 100%;margin: 0 auto;margin-bottom: 20px;}
	
	.articlePic{margin: 0 auto;margin-bottom: 20px;}
	.articlePic.fll, .articlePic.flr{float: none;max-width: 100%;margin: 0 auto;margin-bottom: 20px;}
	.exmTitle, .artTitle{margin-bottom: 15px;}
	#samplePic{width: 100%;}
	#samplePic img{max-width: 100%;height: auto;}
	.portfolioFeature{width: 25%;padding: 0 10px;}
	.pfTitle{font-size: 19px;}
	.pfDscr{font-size: 17px;}
}
@media all and (max-width:890px){
	a.menuItem{font-size:17px;top: 30px;margin: 0 0px;}	
	.headerContact{font-size: 15px;top: 0px;margin-left: 7px;}
	#pslPic img{max-width: 96%;}
	#pslNext{right:10px;background:#fff url(/assets/images/next.png) center center no-repeat;background-size: 30px;}
	#pslPrev{left:10px;background:#fff url(/assets/images/prev.png) center center no-repeat;background-size: 30px;}
	#prcsCalcPic{width: 90%;}
}
@media all and (max-width:800px){
	.riderType{position: relative;top: 0;margin-bottom: 10px;}
	.riderText{padding-left: 0;}
	.riderText p{font-size: 17px;}
	#beginItems{display: block;}
	.beginItem{width: 100%;padding-right: 0;}
	.project img{height:100%;width: auto;}
	.headerContact{font-size: 13px;top: 0px;margin-left: 7px;}
}

@media all and (max-width:750px){
    .menuSpace{height: 60px;}
	#portfolioFeatures{display: block;}
	.portfolioFeature{width: 100%;margin-bottom: 50px;}
	#portfolioCategory a{font-size: 19px;padding: 10px 20px;margin: 0;}
	
	a.menuItem{display: none;}
	#headerContacts{display: none;}
	#headerSocials{display: none;}
	a#logo{height: 60px;width: 60px;}
	a#logo img{height: 40px;top: 10px;}
	#headerWrap{height: 60px;}
	#header{width: 100%;}
	
	#mobMenuBtn{display: block;width: 60px;height: 60px;background: #111 url(/assets/images/mobMenu.png) center center no-repeat;background-size: 20px;float: right;cursor: pointer;}
	
	#features{display:block;}
	.feature{width: 100%;margin-bottom: 40px;}
	
	.causeMob{width: 100%;}
}

@media all and (max-width:700px){
	#pricesSubMenu span{display: block;margin: 0;
	margin-bottom: 5px;}
	.toLP img{height: 100%;	width: auto;}
}

@media all and (max-width:676px){
	#citiesVideo{height: 300px;}
	#pfTop{border-width: 0 100vw 80px 0;}
	#pfBottom{border-width: 80px 0 0 100vw;}
	#planningFormSection {padding: 100px 0;}
	#nameBlock p{font-size: 31px;}
	#nameBlock p#nbSm{font-size: 19px;}
	#nameBlock p#nbBig sup{top: -13px;font-size: 19px;}
	#pslText p{font-size: 17px;}
	.bigHeader{font-size: 31px;}

	#samplePic{width: 100%;}
	#samplePic img{width: 100%;height: auto;}
	.exmBtn{display: block;margin: 0 auto;text-align: center;font-size: 15px;}
	.exmContents ul{min-height:auto;}
	#weCall{width: 100%;}
	#weCallSubmit, #calcSubmit, a#pfSbm, .exmBtn, .sepBtn, a#sH, #seePortfolio{width: 90%;box-sizing: border-box;padding: 20px 20px;}
	a#pfSbm{font-size: 15px;}
	
	
	#servSelects span{display: block;opacity: 0;height: 2px;}
	.servSelect{margin-bottom: 5px;}
	
	.service{margin: 0;margin-bottom: 20px;}
	
	#procPic{width: 300px;height: 300px;}
	#procTitle{font-size: 25px;}
	#procText p{font-size: 17px;}
	
	#pName{font-size: 25px;}
	#pDscr{font-size: 17px;}
	
	#pQuote{width: 90%;padding: 0;padding-bottom: 100px;}
	#quotes{width: 25px;height: 25px;}
	#pQuote p{padding: 0 35px;padding-right: 0;}
	#sign{height: 90px;}
	
	#pPager #prev a, #pPager #next a{display: none;}
}
@media all and (max-width:570px){
	#citiesVideo{height: 200px;}
	#pfFormTitle,#cdSectionTitle{font-size: 25px;}
	#сdSubmit, #contactDirSection input[type="text"]{width: 280px;}
	
	
}
@media all and (max-width:530px){
	.nameBlockBtn{box-sizing: border-box;width: 280px;}
}
@media all and (max-width:500px){
	#diagramm{display: none;}
	#pslCapt{font-size: 17px;}
	#portfolioCategory a{display: block;}
	#sampleFormDscr{font-size: 17px;}
		
	#nameBlock{text-align: center;}
	#nameBlock p{font-size: 19px;}
	#nameBlock p#nbSm{font-size: 15px;}
	#nameBlock p#nbBig sup{top: -10px;font-size: 13px;}
	.sepExpl p{font-size: 17px;}
	
	.cnHeaderB, .cnHeaderA{font-size: 17px;}
	.cnHeaderB span, .cnHeaderA span{width: 90%;}
	
	.bigHeader{font-size: 25px;}
	
	#tourSection{height: 400px;}
	.tourVLines{width: 90%;}
	.tourHLines{margin-top: -140px;width: 280px;width: 0;height: 280px;}
	#tourOvr:hover .tourVLines{width: 280px;}
	#tourOvr:hover .tourHLines{width: 280px;margin-left: -140px;}
	
	.causeMob{margin-bottom: 40px;}
	
	.project{height: 500px;}
	.prjDscr{width: 100%;top: 150px;padding: 0 15px;}
	.prjSqr{font-size: 19px;}
	.prjSqr i sup{font-size: 12px;top: -5px;}
	.prjDscr p{font-size: 15px;}
	
	a#sH, #seePortfolio{font-size: 15px;padding: 20px 10px;}
	
	.service{padding:20px 10px;}
	.servTitle{font-size: 19px;}
	a.servMore{font-size: 17px;}
	
	#personPic{width: 240px;height: 240px;}
	#personPic img{height: 350px;}
	
	#pQuote p{font-size: 15px;}
	
	#processBlc{padding-top: 0;}
	#pBFrame{padding: 15px;}
	#procPic{width: 100%;margin-bottom: 0;height: 250px;}
	#pPicOvr{padding: 15px;}
	#pNumb{font-size: 100px;}
	#procTitle{font-size: 19px;padding: 15px;}
	#procText{padding: 0 25px;}
	#procText p{font-size: 15px;}
	
	.toLP{height: 400px;}
	.toLPDscr{font-size: 17px;}
	.toLpTitle{margin-top: 0;margin-left: 0;font-size: 17px;}
	.toLPLink{width: 200px;margin-left: -100px;font-size: 17px;}
	.toLPLink:hover{width: 300px;	margin-left: -150px;}
	
	#msg{display: block;position: relative;width: 100%;box-sizing: border-box;margin-bottom: 15px;}
	#map{width: 100%;height: 300px;overflow: hidden;}
	.ctcLabel{font-size: 17px;}
	.ctcBlock span{font-size: 17px;}
	#map img{width: auto;height: 300px;}
}
