html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-weight: inherit;
font-style: inherit;
font-size: 100%;
font-family: inherit;
vertical-align: baseline;
line-height:1;
}
html,body{height:100%;margin:0;padding:0;}
body{background: #fff;margin:0;padding:0;font-size:17px;color: #444;font-family: arial;min-width:320px;overflow-x: hidden;}
body.noScroll{overflow-y: hidden;}
/*Misc*/
.menuSpace{height: 80px;}
#servicesCommerce{display: none;}
.ruCrn, .lbCrn, .luCrn, .rbCrn{position: absolute;width:30px;height:30px;border:1px solid #ac9058;}
.luCrn{top: -20px;left: 0;border-width:1px 0 0 1px;}
.rbCrn{bottom:-20px;right: 0;border-width:0 1px 1px 0;}
.ruCrn{top: -20px;right: 0;border-width:1px 1px 0 0 ;}
.lbCrn{bottom:-20px;left: 0;border-width:0 0 1px 1px;}
/*.center{text-align: center;}*/
.sContent{width: 96%;max-width: 1800px;margin: 0 auto;position: relative;}
.cnHeaderA, .cnHeaderB, .cnHeaderC{width: 100%;font-family:'Exo R';font-size:21px;background:#141414;color: #bbb;padding: 20px 0;text-transform: uppercase;z-index: 2;}
.cnHeaderB{background:#fff;color: #141414;}
.cnHeaderC{background:#181818;color: #fff;border-bottom: 1px solid #ac9058;}
.cnHeaderA span, .cnHeaderB span, .cnHeaderC span{display: block;margin: 0 auto;width: 96%;max-width: 1800px;margin: 0 auto;}
#footerSpace{height: 50px;}

/*Header, logo and menu*/
#headerWrap{background:#141414;width: 100%;height:80px;position: fixed;top: 0;left: 0;z-index: 10;}
#header{width: 96%;max-width: 1200px;margin: 0 auto;position: relative;}
#headerSocials{position: absolute;top:30px;right: 50px;}
#headerSocials a{display: inline-block;height: 18px;margin-left: 10px;}
#headerSocials a img{height: 100%;}

a#logo{display: inline-block;height:80px;width: 90px;text-align: center;transition:all 0.5s;}
a#logo:hover{background:rgba(255,255,255,0.05);}
a#logo img{height:50px;position: relative;top: 15px;}
#mobMenuBtn{display: none;}
a.menuItem{display: inline-block;font-family: 'IBML';color: #bbb;text-decoration: none;font-size:19px;vertical-align: top;position: relative;top: 28px;margin: 0 10px;transition:all 0.5s;}
a.menuItem span{display:inline-block;position: absolute;bottom: -10px;left: 0;width: 100%;width: 0;height: 1px;background:#ac9058;transition:all 0.5s;}
a.menuItem:hover{color: #fff;}
a.menuItem:hover span{width: 100%;}

#headerContacts{float: right;}
.headerContact{display: inline-block;color: #bbb;transition:all 0.5s;font-family: 'IBML';font-size: 17px;vertical-align: top;position: relative;top: 29px;margin-left: 20px;}
.headerContact:hover{color: #fff;}
.headerContact img{height:30px;margin-right:10px;vertical-align: top;position: relative;top:-5px;}

/*Mobile menu*/
#mobileMenu{position: fixed;top: 0;left: 0;width: 100%;height: 100%;background:rgba(0,0,0,0.9);overflow-y: scroll;z-index: 99;display: none;}
#mobileMenu a{display: block;color: #fff;text-decoration: none;text-align: center;padding: 15px 0;font-size: 19px;font-family: 'IBML';border-bottom: 1px solid rgba(255,255,255,0.2);}
#mobileMenuClose{height: 50px;background:#000;background: #111 url(/assets/images/mobMenu.png) center center no-repeat;background-size: 20px;cursor: pointer;}

/*footer*/
#footerWrap{background:#141414;width: 100%;min-height: 400px;}
#footer{width: 96%;max-width: 1600px;margin: 0 auto;position: relative;box-sizing: border-box;padding-top: 40px;padding-bottom: 20px;text-align: right;}
#copy{display: inline-block;font-family: 'IBMB';color: #bbb;font-size: 13px;width: 350px;text-align: left;}
#copy p{margin-bottom: 20px;line-height: 1.2;}
#copy p b{font-weight: normal;font-family: 'IBMB';}
#copy p a{text-decoration: underline;color: #ac9058;}

#footerContacts{position: absolute;top: 40px;left: 0;}
.footerContact{color: #bbb;transition:all 0.5s;font-family: 'Exo R';font-size: 17px;vertical-align: top;margin-bottom:10px;text-align: left;}
.footerContact:hover{color: #fff;}
.footerContact img{height:30px;margin-right:15px;vertical-align: top;position: relative;top:-6px;}
.footerContact:first-child img{margin-right: 16px;}

#footerSocial{position: relative;margin-top: 10px;}
#footerSocial a{display: inline-block;background: #ac9058;text-align: center;width: 60px;height: 60px;border-radius: 50%;margin: 0 5px;}
#footerSocial a:hover{background:#fff;}
#footerSocial a img{height: 30px;position: relative;top: 15px;}

#footerMenu{border-top: 1px solid #ac9058;display: flex;flex-direction: row;flex-wrap: nowrap;margin-bottom: 50px;padding-top: 30px;justify-content: space-between;}
.menuCol{flex:0 0;}
.menuCol a.mainLink{display: block;color: #fff;font-family: 'IBMB';text-decoration: none;margin-bottom: 20px;text-align: left;white-space: nowrap;}
.menuCol a{display: block;color: #fff;font-family: 'IBML';margin-bottom: 15px;text-align: left;white-space: nowrap;}
.menuCol a:hover{color: #ac9058;}

/*page home section*/
#homeSection{width: 100%;height:100vh;background:url(/assets/images/homeSection.jpg) center center no-repeat;position: relative;z-index: 1;}
#hsOvr{position: absolute;top: 0;left: 0;width: 100%;height: 100%;background:rgba(0,0,0,0.75);text-align: center;}
#nameBlock{display: inline-block;position: relative;margin-top: -45px;text-align: center;max-width: 90%;}
#nameBlock img{display: block;height: 200px;margin-bottom: 10px;}
#nameBlock p{font-family: 'Exo Bold';color: #fff;font-size: 55px;text-transform: uppercase;}
#nameBlock p#nbBig{text-transform: uppercase;margin-bottom: 5px;}
#nameBlock p#nbBig sup{position: relative;top: -25px;font-size: 25px;}
#nameBlock p#nbSm{font-family:'Exo R';font-size: 31px;}
.nameBlockBtn{display: block;width: 450px;margin: 0 auto;margin-top: 40px;color: #141414;padding: 20px 0;font-family:'Exo R';font-size:19px;text-decoration: none;transition:all 0.5s;background:#ac9058;border:1px solid #ac9058;cursor: pointer;text-align: center;}
.nameBlockBtn:hover{background:#141414;border:1px solid #141414;color: #ac9058;}

/*features section*/
#featsSection{width: 100%;position: relative;z-index: 1;text-align: center;margin-bottom:50px;margin-top:50px;}
#features{display: flex;flex-direction: row;flex-wrap: nowrap;}
.feature{width: 25%;text-align:center;}
.fNum{display: inline-block;background:#141414;color: #ac9058;font-family: 'Exo Ul';width: 100px;height: 75px;font-size: 35px;line-height: 75px;position: relative;}
.fText{display:block;font-family:'Exo R';color: #141414;font-size:19px;height: 30px;line-height: 30px;}

/*portfolio features section*/
#portfolioFeaturesSection{width: 100%;position: relative;z-index: 1;text-align: center;margin:80px 0;}
#portfolioFeatures{display: flex;flex-direction: row;flex-wrap: nowrap;justify-content:center;}
.portfolioFeature{width: 20%;text-align:center;box-sizing: border-box;padding: 0 20px;}
.portfolioFeature img{display: block;margin: 0 auto;margin-bottom: 10px;}
.pfTitle{display: block;color: #ac9058;font-family:'Exo Bold';font-size: 21px;margin-bottom: 15px;}
.pfDscr{display: block;font-family:'IBML';font-size: 19px;line-height: 1.2;}

/*3d tour section*/
#tourSection{width: 100%;height:600px;background: url(/assets/images/tour.jpg) center center no-repeat;background-size: cover;position: relative;}
#tourSection.tourPage{margin-bottom: 50px;}
#tourOvr{position: absolute;top: 0;left: 0;width: 100%;height: 100%;background:rgba(0,0,0,0.6);z-index: 1;transition:all 0.5s;cursor: pointer;}
#tourOvr:hover{background:rgba(0,0,0,0.3);}
#tourOvr #tourIcon{display:block;width:200px;height: 100%;position: absolute;top: 0;left: 50%;margin-left: -100px;background:url(/assets/images/tour.png) center center no-repeat;background-size:100%;transition:all 0.5s;}
#tourOvr:hover #tourIcon{transform:scale(1.2)}
.tourVLines{display: block;width: 96%;max-width: 1800px;height: 100%;margin: 0 auto;border: 1px solid #ac9058;border-bottom: none;border-top: none;transition:all 0.5s;}
#tourOvr:hover .tourVLines{width: 400px;border: 1px solid #fff;border-bottom: none;border-top: none;}
.tourHLines{position: absolute;top: 50%;left: 50%;margin-left:0;margin-top: -200px;width: 400px;width: 0;height: 400px;border: 1px solid #fff;border-right: none;border-left: none;transition:all 0.5s;}
#tourOvr:hover .tourHLines{width: 400px;margin-left: -200px;}

/*articles*/
#articlesSection{margin-top: 50px;margin-bottom: 100px;}
#articlesSection .bigHeader{margin-bottom: 45px;}
.article{box-sizing: border-box;padding: 20px;background:#efefef;width: 96%;margin: 0 auto;margin-bottom: 40px;}
.articlePic{}
.fll{float: left;margin-right: 40px;}
.flr{float: right;margin-left: 40px;}
.artTitle{font-family:'Exo R';font-size:35px;color: #141414;margin-bottom: 30px;}
.articleText{vertical-align: middle;}
.articleText p{color: #141414;font-family: 'IBML';font-size: 21px;line-height: 1.3;margin-bottom: 20px;}
.articleText:after{content:"";display: block;clear: both;}

/*sep more*/
#sepMoreSection{background:#141414;padding: 40px 0;margin-top: -50px;margin-bottom: 50px;}
#sepMoreSection.ntm{margin-top: 0;}
.sepTitle{font-family:'Exo Bold';font-size:25px;color: #fff;margin-bottom: 20px;}
.sepPrice{font-family:'Exo Bold';font-size:35px;color: #fff;margin-bottom: 5px;}
.sepPrice sup{position: relative;top: -13px;font-size: 17px;}
.sepExpl{font-family: 'IBML';font-size: 21px;color: #fff;margin-bottom: 30px;}
.sepExpl p{margin-bottom: 20px;}
.sepBtn{display: block;width: 450px;margin: 0 auto;color: #141414;padding: 20px 0;font-family:'Exo R';font-size:19px;text-decoration: none;transition:all 0.5s;background:#ac9058;border:1px solid #ac9058;cursor: pointer;text-align: center;}
.sepBtn:hover{background:#141414;border:1px solid #141414;color: #ac9058;}

/*to LPs*/
#toLPsSection{margin-top: 50px;}
#toLPsSection.nmrg{margin-top:0;}
#toLPs{display: flex;flex-direction: row;flex-wrap: nowrap;}
.toLP{width: 33%;height: 600px;overflow: hidden;position: relative;}
.toLP:nth-child(2){width: 34%;}
.toLP img{height: 100%;transition: all 0.5s;}
.toLPOvr{position: absolute;top: 0;left: 0;width: 100%;height: 100%;background:rgba(0,0,0,0.3);color: #fff;box-sizing: border-box;padding: 30px;transition:all 0.5s;}
.toLPFrame{border: 1px solid rgba(255,255,255,0.2);width: 100%;height: 100%;box-sizing: border-box;text-align: left;position: relative;}
.toLpTitle{font-family:'Exo Bold';font-size:25px;position: relative;box-sizing: border-box;padding:20px;margin-top:20px;margin-left: 30px;transition:all 0.5s;background:rgba(0,0,0,0.8);}
.toLpTitle .lbCrn{bottom: 0;left: 0;}
.toLPDscr{margin-top: 60px;color: #fff;font-family: 'IBML';font-size:21px;text-align: center;background:rgba(0,0,0,0.3);box-sizing: border-box;padding: 50px;text-shadow: 0 0 4px #000;}
.toLPLink{position: absolute;bottom: 80px;left: 50%;margin-left: -150px;display: block;width:300px;padding: 20px 0;color: #fff;text-decoration: none;border: 1px solid #fff;text-align: center;font-family:'Exo R';font-size:19px;transition:all 0.5s;}
.toLPLink:hover{background:#ac9058;color: #000;border: 1px solid #ac9058;width: 400px;margin-left: -200px;}
.toLP:hover img{transform:scale(1.1);}
.toLP:hover .toLPOvr{background:rgba(0,0,0,0.8);}

/*render compare section*/
#comparePairs{display: none;}
#renderCompareSection{width: 100%;background: #141414;position: relative;margin-bottom: 100px;text-align: center;}
#renderCompare{max-width: 1000px;margin: 0 auto;position: relative;}
#compareViewport{position: relative;background:#222;}
#compareB img{width: 100%;height: auto;vertical-align: top;transition:all 0.2s;}
#compareA{position: absolute;top:0;left: 0;width:50%;height: 100%;overflow: hidden;}
#compareA img{height: 100%;width: auto;vertical-align: top;transition:all 0.2s;}
#compareB img.changing, #compareA img.changing{transform:translateY(-200px);opacity: 0;}
#handle{width: 2px;height: 100%;position: absolute;top: 0;left: 50%;margin-left: -1px;background: #ac9058;}
#handle span{display: block;width: 60px;height: 60px;background: #ac9058 url(/assets/images/sidetoside.png) center center no-repeat;background-size: 30px;border-radius: 50%;position: absolute;top:50%;left:-30px;margin-top: -30px;cursor: pointer;}
#rcNext, #rcPrev{width: 40px;height: 80px;position: absolute;top: 50%;margin-top: -40px;cursor: pointer;}
#rcNext{right: -100px;background:url(/assets/images/next.png) center center no-repeat;background-size: 30px;}
#rcPrev{left: -100px;background:url(/assets/images/prev.png) center center no-repeat;background-size: 30px;}
#tlLabel, #trLabel{position: absolute;top: 0;font-family: 'IBMR';font-size:15px;color: #141414;background: #ac9058;padding: 5px 10px;}
#tlLabel{left: 0;}
#trLabel{right: 0;}
#rcPager{width: 100%;text-align: center;padding: 20px 0;padding-bottom: 30px;background:#fff;}
#rcPager span{display: inline-block;width: 10px;height: 10px;border-radius: 50%;background:#777;margin: 0 10px;cursor: pointer;position: relative;}
#rcPager span:hover:after{content:"";width: 18px;height: 18px;box-sizing: border-box;border: 1px solid #777;position: absolute;top: -4px;left:-4px;border-radius: 50%;}
#rcPager span.active{background:#ac9058;}
#rcPager span.active:after{content:"";width: 18px;height: 18px;box-sizing: border-box;border: 1px solid #ac9058;position: absolute;top: -4px;left:-4px;border-radius: 50%;}

/*portfolio Category selection*/
#portfolioCategory{background:#141414;text-align: center;}
#portfolioCategory a{display: inline-block;font-family:'Exo R';font-size:21px;color: #ac9058;padding: 20px 30px;vertical-align: top;text-decoration: none;margin: 0 20px;}
#portfolioCategory a.active{background:#ac9058;color: #141414;}

/*projects section*/
#projectsSection{margin-bottom: 50px;}
#projects{display: flex;flex-direction: row;flex-wrap: nowrap;}
.project{width: 33%;height: 600px;overflow: hidden;position: relative;}
.project .ruCrn{top: 20px;right: 20px;}
.project .lbCrn{bottom: 20px;left: 20px;}
.project:nth-child(3n+2){width: 34%;}
.project img{height: 100%;transition: all 0.5s;}
.project:hover img{transform:scale(1.1);}
.prjOvr{position: absolute;top: 0;left: 0;width: 100%;height: 100%;height: 0;background:rgba(0,0,0,0.7);transition: all 0.5s;}
.project:hover .prjOvr{height: 100%;}
.prjTitle{position: absolute;top: 60%;left: 0;background:#141414;color: #ac9058;font-family: 'Exo R';font-size: 21px;padding:10px 20px;padding-right: 50px;transition: all 0.5s;}
.prjTitle i{display: block;width: 40px;height: 1px;background:#555;margin-top: 10px;margin-bottom: 5px;}
.prjTitle span{font-family: 'Exo Ul';font-size: 19px;color: #bbb;}
.project:hover .prjTitle{top: 20px;color: #fff;}
.project:hover .prjTitle span{color: #fff;}
.prjDscr{height: 80%;width: 80%;position: absolute;top: 20%;left: -100%;padding: 0 40px;box-sizing: border-box;font-family: 'IBML';font-size: 17px;color: #fff;transition: all 0.5s;}
.prjDscr p{margin-bottom: 20px;line-height: 1.3;}
.prjSqr{color: #fff;font-family: 'IBMB';font-size: 31px;margin-bottom: 40px;}
.prjSqr i{font-family: 'IBMT';font-style: normal;}
.prjSqr i sup{font-size: 15px;position: relative;top: -10px;}
a.prjMore{display: block;position: absolute;right: -200px;bottom: 20px;background:#ac9058;color: #141414;width: 200px;padding: 20px 0;padding-top: 17px;text-decoration: none;text-align: center;font-family: 'Exo Bold';transition: all 0.5s;}
a.prjMore:hover{background:#141414;color: #fff;}
.project:hover a.prjMore{right: 0;}
.project:hover .prjDscr{left: 0;}
#seePortfolio{display: block;color: #141414;font-family: 'Exo R';font-size:19px;width: 340px;padding:20px 0;border: 1px solid #141414;text-align: center;text-decoration: none;margin: 10px auto;transition:all 0.5s;}
#seePortfolio:hover{background:#141414;color: #ac9058;}
#lineDecor{width: 80%;height: 7px;border-top: 1px solid #ac9058;margin: 0 auto;position: relative;}
#lineDecor span{display: block;position: absolute;bottom: 0;left: 25%;width: 50%;height: 1px;background:#ac9058;}

/*portfolio projects*/
#portfolioProjects{display: flex;flex-direction: row;flex-wrap: wrap;box-sizing: border-box;border: 5px solid #141414;}
#portfolioProjects .project{box-sizing: border-box;border: 10px solid #141414;}

/*portfolio contactDir Section*/
#contactDirSection{width: 100%;height: 600px;background:url(/assets/images/prj1.jpg) center center no-repeat;background-size: cover;position: relative;margin-bottom: 100px;text-align: center;box-sizing: border-box;padding-top: 80px;}
#contactDirOverlay{position: absolute;top: 0;left: 0;width: 100%;height: 100%;background:rgba(0,0,0,0.8);}
#cdSectionTitle{color: #ac9058;font-family: 'Exo Bold';font-size:35px;margin-bottom: 20px;}
#cdSectionCaption{color: #fff;font-family: 'IBML';font-size:21px;width: 40%;margin: 0 auto;margin-bottom: 20px;}
#contactDirSection input[type="text"]{display: block;width: 400px;box-sizing: border-box;border:1px solid #ac9058;padding: 10px;color: #aaa;font-family: 'IBML';font-size: 17px;background:#111;margin: 0 auto;margin-bottom: 10px;}
#contactDirSection input[type="text"]:focus{color: #fff;border:1px solid #fff;}
#сdSubmit{width: 400px;text-align: center;padding:20px 0;background:#ac9058;color: #000;font-family: 'Exo Bold';font-size: 19px;cursor: pointer;margin:20px auto;}
#сdSubmit:hover{background:#fff;}
#cdWarn{color: #fff;font-family: 'IBML';font-size:17px;}

/*planning form*/
#planningFormSection{width: 100%;background:url(/assets/images/prj1.jpg) center center no-repeat;background-size: cover;position: relative;text-align: center;box-sizing: border-box;padding: 300px 0;}
#planningFormOverlay{position: absolute;top: 0;left: 0;width: 100%;height: 100%;background:rgba(0,0,0,0.8);}
#pfTop{position: absolute;top: 0;left: 0;width: 0;height: 0;border-style: solid;border-width: 0 100vw 220px 0;border-color: transparent #fff transparent transparent;z-index: 2;}
#pfBottom{position: absolute;bottom: 0;left: 0;width: 0;height: 0;border-style: solid;border-width: 220px 0 0 100vw;border-color: transparent transparent transparent #fff;z-index: 2;}
#pfFormTitle{color: #fff;font-family: 'Exo Bold';font-size:35px;margin-bottom: 20px;}
#pfFormDscr{color: #141414;font-family: 'Exo R';font-size:19px;margin:20px 0;color: #fff;}
#pfForm{margin-bottom: 10px;}
#pfForm input{width:300px;box-sizing: border-box;border:1px solid #141414;padding: 10px;color: #666;font-family: 'IBML';font-size: 17px;background:#fff;}
#pfForm input:focus{color: #000;border:1px solid #ac9058;}
a#pfSbm{display: block;width: 450px;margin: 0 auto;color: #141414;padding: 20px 0;font-family:'Exo R';font-size:19px;text-decoration: none;transition:all 0.5s;background:#ac9058;border:1px solid #ac9058;cursor: pointer;margin-bottom: 20px;}
a#pfSbm:hover{background:#141414;border:1px solid #141414;color: #ac9058;}

/*planing slider*/
#pslText{width: 1000px;margin: 0 auto;margin-bottom: 20px;}
#pslText p{font-family: 'IBML';font-size:21px;color: #141414;margin-bottom: 20px;}
#pslAllSlides{display: none;}
#pslSlider{text-align: center;position: relative;}
#pslSlideViewport{position: relative;display: inline-block;}
#pslTitle{font-family:'IBML';font-size: 31px;color: #141414;margin-bottom: 20px;}
#pslPic{margin-bottom: 20px;transition:all 0.3s;}
#pslPic.changing{transform:translateY(-200px);opacity: 0;}
#pslPic img{max-width: 800px;}
#pslCapt{display: inline-block;font-family: 'IBML';font-size:21px;color: #fff;background:#141414;padding: 10px 20px;}
#pslNext, #pslPrev{width: 40px;height: 80px;position: absolute;top: 50%;margin-top: -40px;cursor: pointer;}
#pslNext{right: -100px;background:url(/assets/images/next.png) center center no-repeat;background-size: 30px;}
#pslPrev{left: -100px;background:url(/assets/images/prev.png) center center no-repeat;background-size: 30px;}
#pslPager{width: 100%;text-align: center;padding: 20px 0;padding-bottom: 30px;background:#fff;}
#pslPager span{display: inline-block;width: 10px;height: 10px;border-radius: 50%;background:#777;margin: 0 10px;cursor: pointer;position: relative;}
#pslPager span:hover:after{content:"";width: 18px;height: 18px;box-sizing: border-box;border: 1px solid #777;position: absolute;top: -4px;left:-4px;border-radius: 50%;}
#pslPager span.active{background:#ac9058;}
#pslPager span.active:after{content:"";width: 18px;height: 18px;box-sizing: border-box;border: 1px solid #ac9058;position: absolute;top: -4px;left:-4px;border-radius: 50%;}

/*examples section*/
.example{width: 100%;padding: 40px 0;}
.exmBtn:after{content:"";display: block;clear: both;}
.example:nth-child(odd){background:#efefef;}
.example .sContent{max-width: 1300px;}
.exmTitle{font-family: 'Exo R';font-size: 35px;color: #141414;margin-bottom: 30px;}
.exmContents{font-family:'IBML';font-size: 19px;color: #141414;}
.exmContents b{display: block;font-weight: normal;font-family:'IBMB';margin-bottom: 15px;}
.exmContents ul{min-height: 245px;margin-bottom: 30px;}
.exmContents ul li{margin-bottom: 10px;margin-left: 30px;}
.exmContents ul li.noc{list-style-type: none;margin-left: 0;font-family:'IBMSB';}
.exmBtn{display:inline-block;color: #141414;padding: 20px 30px;font-family:'Exo R';font-size:19px;text-decoration: none;transition:all 0.5s;background:#ac9058;border:1px solid #ac9058;cursor: pointer;margin-bottom: 50px;}
.exmBtn:hover{background:#141414;border:1px solid #141414;color: #ac9058;}


/*prices all*/
#pricesSection{background:#181818;}
#pricesSection .tourVLines{width: 100%;}
#pricesContent{width: 96%;max-width: 1600px;height:100%;margin: 0 auto;position: relative;}
#pricesSubMenu{text-align: left;position: relative;top: 10px;margin-bottom: 50px;}
#pricesSubMenu span{display: inline-block;color: #ac9058;border: 1px solid #ac9058;padding: 10px 20px;margin-right:10px;cursor: pointer;font-family: 'IBML';vertical-align: top;}
#pricesSubMenu span:hover{color: #fff;border: 1px solid #fff;}
#prcsSubSection{position: relative;}
.subSectionDivider{width: 60%;height: 1px;background:#555;margin: 0 auto;margin-bottom: 50px;margin-top: 30px;}
#pricesBottom{height: 100px;}
.prcsTitle{font-family: 'Exo Bold';color: #ac9058;text-decoration: none;font-size:35px;margin-bottom: 20px;}
.prcsTitle.wh{color: #fff;}
.prcsSubTitle{font-family: 'IBML';color: #fff;text-decoration: none;font-size:25px;margin-top: -15px;margin-bottom: 20px;}
.prcsText{width: 50%;margin-bottom: 20px;}
.prcsText.qt{width: 40%;}
.prcsText.full{width:100%;}
.prcsText p{color: #aaa;font-family: 'IBML';font-size: 19px;line-height: 1.3;margin-bottom: 20px;}
#prcsCalcPic{margin: 0 auto;border: 1px solid #aaa;padding: 10px;box-sizing: border-box;width: 700px;margin-bottom: 20px;}
#prcsCalcPic img{width: 100%;}
#calculator{width: 80%;margin: 0 auto;}
#calcType{margin-bottom: 20px;}
.calcLabel{font-family: 'Exo Bold';font-size: 15px;color: #ac9058;margin-bottom: 5px;}
#calcType span{width: 30%;display: inline-block;color: #aaa;box-sizing: border-box;border: 1px solid #ac9058;padding: 10px 0;margin-right:5px;cursor: pointer;font-family: 'IBML';white-space: nowrap;text-align: center;vertical-align: top;}
#calcType span:hover{background:rgba(255,255,255,0.1);color: #fff;}
#calcType span.active{color: #fff;border: 1px solid #fff;}

#calcPhone, #calcAddress, #calcSquare{display: inline-block;vertical-align: top;width:30%;}
input.calInput{width: 100%;box-sizing: border-box;border:1px solid #ac9058;padding: 10px;color: #aaa;font-family: 'IBML';font-size: 17px;background:#111;}
input.calInput:focus{color: #fff;border:1px solid #fff;}

#calcSubmit{width: 400px;text-align: center;padding:20px 0;background:#ac9058;color: #000;font-family: 'Exo Bold';font-size: 19px;cursor: pointer;margin: 0 auto;margin-top: 20px;}
#calcSubmit:hover{background:#fff;}

#depsSubSection{position: relative;padding-bottom: 50px;}
#percentsDescr{width: 50%;margin-top: 50px;}
.percent{display: inline-block;width: 130px;box-sizing: border-box;border: 1px solid #ac9058;padding: 10px;vertical-align: top;margin-right: 5px;margin-bottom: 10px;background:#050505;cursor: pointer;transition:all 0.3s;}
.percent:hover, .percent.hovered{border: 1px solid #fff;color: #fff !important; transform:scale(1.2);z-index: 999;}
.digit{font-family: 'Exo Bold';color: #fff;text-decoration: none;font-size:31px;margin-bottom: 20px;}
.percentTitle{color: #aaa;font-family: 'IBML';font-size: 15px;height: 50px;}
.percentColor{width: 100%;height: 32px;background:#555;}

#diagramm{position: absolute;top: 185px;right: 0;width: 49%;height: 600px;vertical-align: top;text-align: center;overflow: hidden;}
svg{transform:scale(1.4);position: relative;top: 100px;}
svg path{transition:all 0.3s;cursor:pointer;}
svg path.unhovered{opacity: 0.3;}
svg path.hovered{stroke:#fff;stroke-width:10;opacity: 1;}

#citiesVideo{width: 80%;height: 600px;background:#000;position: relative;margin: 0 auto;margin-bottom: 20px;}
#citiesVideo span{display: block;width: 100%;position: absolute;top: 50%;left: 0;text-align: center;color: #aaa;}

#beginItems{display: flex;flex-direction: row;flex-wrap: wrap;}
.beginItem{width: 49%;box-sizing: border-box;padding-right:40px;margin-bottom: 30px;}
.beginNumber{font-family: 'IBML';color: #fff;text-decoration: none;font-size:47px;margin-bottom: 5px;}
.beginTitle{font-family: 'Exo Bold';color: #ac9058;text-decoration: none;font-size:35px;margin-bottom: 20px;}

.riderText{position: relative;padding-left: 250px;}
.riderType{position: absolute;top: 2px;left: 0;font-family: 'Exo Bold';color: #fff;text-transform: uppercase;}
.riderText p{color: #aaa;font-family: 'IBML';font-size: 19px;line-height: 1.3;margin-bottom: 20px;}
.riderText p b{font-weight: normal;font-family: 'IBMB';color: #ac9058;}

#weCall{width: 80%;margin: 0 auto;}
#weCallName, #weCallPhone, #weCallMail{display: inline-block;vertical-align: top;width:30%;}
#weCallSubmit{width: 400px;text-align: center;padding:20px 0;background:#ac9058;color: #000;font-family: 'Exo Bold';font-size: 19px;cursor: pointer;margin: 0 auto;margin-top: 20px;}

#weCallAgree{color: #aaa;font-family: 'IBML';font-size: 19px;line-height: 1.3;margin-bottom: 20px;margin-top: 20px;}
#weCallAgree span{display: inline-block;width: 20px;height: 20px;border: 1px solid #ac9058;vertical-align: top;margin-right: 10px;}
#weCallAgree a{color: #ac9058;text-decoration: none;}
#weCallAgree a:hover{text-decoration: underline;}




#causesSection .sContent{margin-top:25px;padding: 40px;box-sizing: border-box;color: #141414;margin-bottom: 45px;}
.cPic{width:80px;height:80px;background:#141414;text-align: center;margin-bottom: 10px;}
.cPic img{height: 60px;position: relative;top: 10px;}
.cText{font-family:'IBML';font-size: 19px; }
#causes{border-collapse: collapse;width: 90%;margin: 0 auto;border: 0;}
#causesMobile{display: none;}
#causes td{padding-bottom: 60px;padding: 40px;border: 1px solid #ac9058;border-top: none;border-left: none;}
#causes tr:nth-child(1) td:nth-child(3){border-right: none;padding-top: 0;}
#causes tr:nth-child(2) td:nth-child(1), #causes tr:nth-child(2) td:nth-child(2){border-bottom: none;}



#sampleSection{margin-bottom: 50px;}
#sampleSection .sContent{text-align: center;}
.bigHeader{font-family: 'IBMT';font-size: 40px;color: #141414;}
#samplePic{position: relative;width:auto;margin: 0 auto;margin-top: 20px;}
#samplePic img{height: 600px;}
#sampleFormDscr{color: #141414;font-family: 'Exo R';font-size:19px;margin:20px 0;}
#projectSampleForm{margin-bottom: 10px;}
#projectSampleForm input{width:300px;box-sizing: border-box;border:1px solid #141414;padding: 10px;color: #666;font-family: 'IBML';font-size: 17px;background:#fff;}
#projectSampleForm input:focus{color: #000;border:1px solid #ac9058;}
a#sH{display: block;width: 450px;margin: 0 auto;color: #141414;padding: 20px 0;font-family:'Exo R';font-size:19px;text-decoration: none;transition:all 0.5s;background:#ac9058;border:1px solid #ac9058;cursor: pointer;}
a#sH:hover{background:#141414;border:1px solid #141414;color: #ac9058;}
button#sH{display: block;width: 450px;margin: 0 auto;color: #141414;padding: 20px 0;font-family:'Exo R';font-size:19px;text-decoration: none;transition:all 0.5s;background:#ac9058;border:1px solid #ac9058;cursor: pointer;}
button#sH:hover{background:#141414;border:1px solid #141414;color: #ac9058;}
#sampleFormAfter{color: #141414;font-family: 'Exo R';font-size:19px;text-align: center;background:#ac9058;width: 60%;box-sizing: border-box;padding:40px 20px;line-height: 1.3;margin:20px auto;display: none;}

#personSection{width: 100%;background: url("/assets/images/persBack.jpg") center center no-repeat;height: 560px;background-size: cover;position: relative;}
#personSection .sContent{height:100%;}
#personSection .tourVLines{display: block;width: 100%;height: 100%;margin: 0 auto;border: 1px solid #ac9058;border-bottom: none;border-top: none;overflow: hidden;text-align: center;}
#personContent{width: 96%;max-width: 1400px;height:100%;margin: 0 auto;position: relative;}
#personPic{width: 540px;height: 540px;border-radius: 50%; position: absolute;left: 0;bottom: -50px;}
#personPic img{height: 600px;}
#personInfo{color: #fff;text-align: left;margin-left: 590px;padding: 50px 0;}
#pName{font-family: 'Exo Bold';font-size: 35px;margin-bottom: 40px;}
#pDscr{font-family: 'IBML';font-size: 19px;margin-bottom: 20px;}
#pQuote{position: relative;}
#quotes{position: absolute;top:2px;left: 0;width:40px;height:40px;background:url("/assets/images/quotes.png") 0 0 no-repeat;background-size: contain;}
#pQuote p{font-family:'Exo LI';font-size:19px;padding-left:55px;padding-right:40px;line-height: 1.3;margin-top: 50px;}
#sign{position: absolute;right: 0;bottom: -120px;height: 120px;}

.procBH{text-align: center;margin-top: 40px;}
#processSection{margin-bottom:0px;}
#processSlides{display: none;}
#processSection .sContent{margin-top:45px;box-sizing: border-box;padding: 0 20px;}
#processBlc{width: 100%;background: #eee url(/assets/images/procBack.jpg) center center no-repeat;position: relative;}
#pBFrame{position: absolute;top: 0;left: 0;width: 100%;height: 100%;padding: 30px;box-sizing: border-box;}
#pBFrame div{width: 100%;height: 100%;border: 1px solid #141414;box-sizing: border-box;}
#procPic{width: 600px;height: 600px;overflow: hidden;position: relative;z-index: 2;}
#procPic img{position: relative;top: 0;left: 0;transition:all 0.5s;}
#procPic.changing img{left: -1000px;}
#pPicOvr{position: absolute;top: 0;left: 0;width: 100%;height: 100%;background:rgba(0,0,0,0.5);box-sizing: border-box;padding: 30px;transition:all 0.5s;}
#procPic.changing #pPicOvr{transform:scale(1.2);background:rgba(0,0,0,0.0);}

#pFrame{width: 100%;height: 100%;border: 1px solid #ac9058;}
#procTitle{position: absolute;top: 50px;left:50px;font-family: 'Exo Ul';font-size:35px;color: #fff;background:#141414;text-align: right;padding: 20px 40px;padding-bottom: 25px;padding-left: 200px;z-index: 3;transition:all 0.5s;}
#procTitle.changing{left: -200px;opacity: 0;}
#pNumb{position: absolute;bottom:20px;right:40px;color: #fff;font-family: 'Mignon';font-size: 220px;}
#procText{position: absolute;top: 200px;left: 0;box-sizing: border-box;padding-left: 750px;padding-right: 150px;transition:all 0.5s;}
#procText.changing{top: -200px;opacity: 0;}
#procText p{color: #141414;font-family:'Exo Ul';font-size: 21px;text-align:left;line-height: 1.3;}
#pPager{position: absolute;bottom: 50px;left:0;color: #141414;width: 100%;z-index: 2;text-align: right;box-sizing: border-box;padding-right: 50px;}
#pPager #current{font-family: 'Mignon';font-size:65px;}
#pPager #prev span, #pPager #next span{font-family: 'Mignon';font-size:35px;margin: 0 10px;color: #ac9058;}
#pPager #prev, #pPager #next{position: relative;top: -7px;cursor: pointer;}
#pPager a{text-transform: uppercase;font-family: 'IBMB';font-size:15px;position: relative;top: -5px;}
#pPager img{height:30px;margin: 0 10px;position: relative;top:4px;}

#servSelects{width: 96%;max-width: 1800px;margin: 0 auto;margin-top: -10px;margin-bottom: 30px;}
#servSelects span{display: inline-block;font-family:'Exo R';font-size: 17px;color: #ac9058;margin: 0 5px;}
.servSelect{display: inline-block;font-family:'Exo Ul';font-size: 17px;color: #141414;border-bottom:1px solid #141414;cursor: pointer;opacity: 0.5;transition:all 0.5s;}
.servSelect:hover{opacity: 1;}
.servSelect.active{color: #ac9058;border-bottom:1px solid #ac9058;font-family:'Exo Ul';opacity: 1;}
#servicesSection{margin-bottom: 20px;}
#servicesSection .sContent{width: 90%;max-width: 1800px;margin: 0 auto;text-align: center;}
.service{display: inline-block;width:25%;box-sizing: border-box;padding: 40px;position: relative;vertical-align: top;margin: 0 20px;margin-bottom: 20px;/*min-height:350px;*/text-align: center;border: 1px solid rgba(0,0,0,0.1);}
.service .lbCrn{bottom: -1px;left: -1px;}
.servTitle{font-family:'Exo Bold';font-size: 25px;color: #ac9058;min-height:55px;position: relative;z-index: 2;}
.servDscr{font-family:'Exo Ul';font-size: 17px;color: #141414;margin-bottom: 20px;min-height:100px;box-sizing: border-box;padding: 10px 0;position: relative;z-index: 2;}
.servLine{width: 100px;height: 1px;background:#ac9058;margin: 10px auto;position: relative;z-index: 2;}
.servPrice{font-family:'Exo Ul';font-size: 25px;color: #141414;margin-bottom: 20px;position: relative;z-index: 2;}
.servPrice span{font-size: 19px;}
.servPrice span sup{font-size: 11px;position: relative;top: -7px;}
a.servMore{display: block;color: #141414;font-family:'Exo R';font-size: 19px;padding: 20px 0;width:200px;border: 1px solid #141414;text-align: center;text-decoration: none;margin: 0 auto;transition:all 0.5s;position: relative;z-index: 2;}
a.servMore:hover{background:#141414;color: #ac9058;width: 300px;}
.tl, .bl, .ll, .rl{background:#141414;}
.tl{position: absolute;top: -1px;left: 0;width: 100%;width: 0;height: 1px;transition:all 1s;}
.bl{position: absolute;bottom: -1px;right: 0;width: 100%;width: 0;height: 1px;transition:all 1s;}
.ll{position: absolute;bottom:0;left:-1px;width: 1px;height:100%;height: 0;transition:all 1s;}
.rl{position: absolute;top:0;right:-1px;width: 1px;height:100%;height: 0;transition:all 1s;}
.service:hover .tl, .service:hover .bl{width: 100%;}
.service:hover .ll, .service:hover .rl{height: 100%;}




.ctcBlock{margin-bottom: 20px;}
.ctcLabel{font-family:'Exo Bold';font-size: 19px;color: #141414;margin-bottom: 5px;}
.ctcBlock span{font-family:'Exo Ul';font-size: 21px;color: #333;}
#msg{position: absolute;top: 0;right: 0;padding: 15px 0;padding-bottom: 18px;width: 250px;border: 1px solid #141414;text-align: center;color: #141414;text-decoration: none;font-family:'Exo R';font-size: 17px;}
#msg:hover{background:#ac9058;border: 1px solid #ac9058;}
#map img{width: 100%;margin-top:20px;margin-bottom:-3px;}

#space{height: 400px;}


#more{width: 100%;position: relative;z-index: 1;text-align: center;margin-bottom:50px;margin-top:50px; background: url(/assets/images/more.png) center center no-repeat; background-size: cover;}
#consult{width: 100%;position: relative;z-index: 1;text-align: center;margin-bottom:50px;margin-top:50px; background: url(/assets/images/cbg.jpg) center center no-repeat; background-size: cover;}

.scroll-top {
    background: #dabf8a;
    box-shadow: 0 0 2px rgba(0,0,0,0.4);
    bottom: 20px;
    height: 40px;
    width: 40px;
    position: fixed;
    border-radius: 1px;
    right: 76px;
    text-align: center;
    overflow: hidden;
    z-index: 9999;
    opacity: 0.5;
}

.scroll-top i {
    font-size: 14px;
    line-height: 40px;
    color: #fff !important;
}

.mouse {
    background: #4e5559 -webkit-linear-gradient(transparent 0%, transparent 50%, #ffffff 50%, #ffffff 100%);
    background: #4e5559 linear-gradient(transparent 0%, transparent 50%, #ffffff 50%, #ffffff 100%);
    position: relative;
    width: 52px;
    height: 88px;
    background-size: 100% 100%;
    border-radius: 100px;
    background-size: 225%;
    -webkit-animation: colorSlide 5s linear infinite, nudgeMouse 5s ease-out infinite;
    animation: colorSlide 5s linear infinite, nudgeMouse 5s ease-out infinite;
    cursor: pointer;
}
.mouse:before, .mouse:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.mouse:before {
    width: 46px;
    height: 82px;
    background-color: #222a30;
    border-radius: 100px;
}
.mouse:after {
    background-color: #ffffff;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    -webkit-animation: trackBallSlide 5s linear infinite;
    animation: trackBallSlide 5s linear infinite;
}

@-webkit-keyframes colorSlide {
    0% {
        background-position: 0% 100%;
    }
    20% {
        background-position: 0% 0%;
    }
    21% {
        background-color: #4e5559;
    }
    29.99% {
        background-color: #ffffff;
        background-position: 0% 0%;
    }
    30% {
        background-color: #4e5559;
        background-position: 0% 100%;
    }
    50% {
        background-position: 0% 0%;
    }
    51% {
        background-color: #4e5559;
    }
    59% {
        background-color: #ffffff;
        background-position: 0% 0%;
    }
    60% {
        background-color: #4e5559;
        background-position: 0% 100%;
    }
    80% {
        background-position: 0% 0%;
    }
    81% {
        background-color: #4e5559;
    }
    90%, 100% {
        background-color: #ffffff;
    }
}

@keyframes colorSlide {
    0% {
        background-position: 0% 100%;
    }
    20% {
        background-position: 0% 0%;
    }
    21% {
        background-color: #4e5559;
    }
    29.99% {
        background-color: #ffffff;
        background-position: 0% 0%;
    }
    30% {
        background-color: #4e5559;
        background-position: 0% 100%;
    }
    50% {
        background-position: 0% 0%;
    }
    51% {
        background-color: #4e5559;
    }
    59% {
        background-color: #ffffff;
        background-position: 0% 0%;
    }
    60% {
        background-color: #4e5559;
        background-position: 0% 100%;
    }
    80% {
        background-position: 0% 0%;
    }
    81% {
        background-color: #4e5559;
    }
    90%, 100% {
        background-color: #ffffff;
    }
}
@-webkit-keyframes trackBallSlide {
    0% {
        opacity: 1;
        -webkit-transform: scale(1) translateY(-20px);
        transform: scale(1) translateY(-20px);
    }
    6% {
        opacity: 1;
        -webkit-transform: scale(0.9) translateY(5px);
        transform: scale(0.9) translateY(5px);
    }
    14% {
        opacity: 0;
        -webkit-transform: scale(0.4) translateY(40px);
        transform: scale(0.4) translateY(40px);
    }
    15%, 19% {
        opacity: 0;
        -webkit-transform: scale(0.4) translateY(-20px);
        transform: scale(0.4) translateY(-20px);
    }
    28%, 29.99% {
        opacity: 1;
        -webkit-transform: scale(1) translateY(-20px);
        transform: scale(1) translateY(-20px);
    }
    30% {
        opacity: 1;
        -webkit-transform: scale(1) translateY(-20px);
        transform: scale(1) translateY(-20px);
    }
    36% {
        opacity: 1;
        -webkit-transform: scale(0.9) translateY(5px);
        transform: scale(0.9) translateY(5px);
    }
    44% {
        opacity: 0;
        -webkit-transform: scale(0.4) translateY(40px);
        transform: scale(0.4) translateY(40px);
    }
    45%, 49% {
        opacity: 0;
        -webkit-transform: scale(0.4) translateY(-20px);
        transform: scale(0.4) translateY(-20px);
    }
    58%, 59.99% {
        opacity: 1;
        -webkit-transform: scale(1) translateY(-20px);
        transform: scale(1) translateY(-20px);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale(1) translateY(-20px);
        transform: scale(1) translateY(-20px);
    }
    66% {
        opacity: 1;
        -webkit-transform: scale(0.9) translateY(5px);
        transform: scale(0.9) translateY(5px);
    }
    74% {
        opacity: 0;
        -webkit-transform: scale(0.4) translateY(40px);
        transform: scale(0.4) translateY(40px);
    }
    75%, 79% {
        opacity: 0;
        -webkit-transform: scale(0.4) translateY(-20px);
        transform: scale(0.4) translateY(-20px);
    }
    88%, 100% {
        opacity: 1;
        -webkit-transform: scale(1) translateY(-20px);
        transform: scale(1) translateY(-20px);
    }
}
@keyframes trackBallSlide {
    0% {
        opacity: 1;
        -webkit-transform: scale(1) translateY(-20px);
        transform: scale(1) translateY(-20px);
    }
    6% {
        opacity: 1;
        -webkit-transform: scale(0.9) translateY(5px);
        transform: scale(0.9) translateY(5px);
    }
    14% {
        opacity: 0;
        -webkit-transform: scale(0.4) translateY(40px);
        transform: scale(0.4) translateY(40px);
    }
    15%, 19% {
        opacity: 0;
        -webkit-transform: scale(0.4) translateY(-20px);
        transform: scale(0.4) translateY(-20px);
    }
    28%, 29.99% {
        opacity: 1;
        -webkit-transform: scale(1) translateY(-20px);
        transform: scale(1) translateY(-20px);
    }
    30% {
        opacity: 1;
        -webkit-transform: scale(1) translateY(-20px);
        transform: scale(1) translateY(-20px);
    }
    36% {
        opacity: 1;
        -webkit-transform: scale(0.9) translateY(5px);
        transform: scale(0.9) translateY(5px);
    }
    44% {
        opacity: 0;
        -webkit-transform: scale(0.4) translateY(40px);
        transform: scale(0.4) translateY(40px);
    }
    45%, 49% {
        opacity: 0;
        -webkit-transform: scale(0.4) translateY(-20px);
        transform: scale(0.4) translateY(-20px);
    }
    58%, 59.99% {
        opacity: 1;
        -webkit-transform: scale(1) translateY(-20px);
        transform: scale(1) translateY(-20px);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale(1) translateY(-20px);
        transform: scale(1) translateY(-20px);
    }
    66% {
        opacity: 1;
        -webkit-transform: scale(0.9) translateY(5px);
        transform: scale(0.9) translateY(5px);
    }
    74% {
        opacity: 0;
        -webkit-transform: scale(0.4) translateY(40px);
        transform: scale(0.4) translateY(40px);
    }
    75%, 79% {
        opacity: 0;
        -webkit-transform: scale(0.4) translateY(-20px);
        transform: scale(0.4) translateY(-20px);
    }
    88%, 100% {
        opacity: 1;
        -webkit-transform: scale(1) translateY(-20px);
        transform: scale(1) translateY(-20px);
    }
}
@-webkit-keyframes nudgeMouse {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    20% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }
    30% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }
    60% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    80% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }
    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes nudgeMouse {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    20% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }
    30% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }
    60% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    80% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }
    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@-webkit-keyframes nudgeText {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    20% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    30% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    60% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    80% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes nudgeText {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    20% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    30% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    60% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    80% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@-webkit-keyframes colorText {
    21% {
        color: #4e5559;
    }
    30% {
        color: #ffffff;
    }
    51% {
        color: #4e5559;
    }
    60% {
        color: #ffffff;
    }
    81% {
        color: #4e5559;
    }
    90% {
        color: #ffffff;
    }
}
@keyframes colorText {
    21% {
        color: #4e5559;
    }
    30% {
        color: #ffffff;
    }
    51% {
        color: #4e5559;
    }
    60% {
        color: #ffffff;
    }
    81% {
        color: #4e5559;
    }
    90% {
        color: #ffffff;
    }
}

#popup__toggle{bottom:60px;right:10px;position:fixed;z-index:999;}
.img-circle{background-color:#dabf8a;box-sizing:content-box;-webkit-box-sizing:content-box;}
.circlephone{box-sizing:content-box;-webkit-box-sizing:content-box;border: 2px solid #dabf8a;width:150px;height:150px;bottom:-25px;right:10px;position:absolute;-webkit-border-radius:100%;-moz-border-radius: 100%;border-radius: 100%;opacity: .5;-webkit-animation: circle-anim 2.4s infinite ease-in-out !important;-moz-animation: circle-anim 2.4s infinite ease-in-out !important;-ms-animation: circle-anim 2.4s infinite ease-in-out !important;-o-animation: circle-anim 2.4s infinite ease-in-out !important;animation: circle-anim 2.4s infinite ease-in-out !important;-webkit-transition: all .5s;-moz-transition: all .5s;-o-transition: all .5s;transition: all 0.5s;}
.circle-fill{box-sizing:content-box;-webkit-box-sizing:content-box;background-color:#dabf8a;width:100px;height:100px;bottom:0px;right:35px;position:absolute;-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;border: 2px solid transparent;-webkit-animation: circle-fill-anim 2.3s infinite ease-in-out;-moz-animation: circle-fill-anim 2.3s infinite ease-in-out;-ms-animation: circle-fill-anim 2.3s infinite ease-in-out;-o-animation: circle-fill-anim 2.3s infinite ease-in-out;animation: circle-fill-anim 2.3s infinite ease-in-out;-webkit-transition: all .5s;-moz-transition: all .5s;-o-transition: all .5s;transition: all 0.5s;}
.img-circle{box-sizing:content-box;-webkit-box-sizing:content-box;width:72px;height:72px;bottom: 14px;right: 49px;position:absolute;-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;border: 2px solid transparent;opacity: .7;}
.img-circleblock{box-sizing:content-box;-webkit-box-sizing:content-box;width:72px;height:72px;background-image:url(/assets/images/mini.png);background-position: center center;background-repeat:no-repeat;animation-name: tossing;-webkit-animation-name: tossing;animation-duration: 1.5s;-webkit-animation-duration: 1.5s;animation-iteration-count: infinite;-webkit-animation-iteration-count: infinite;}
.img-circle:hover{opacity: 1;}
@keyframes pulse {0% {transform: scale(0.9);opacity: 1;}
    50% {transform: scale(1); opacity: 1; }
    100% {transform: scale(0.9);opacity: 1;}}
@-webkit-keyframes pulse {0% {-webkit-transform: scale(0.95);opacity: 1;}
    50% {-webkit-transform: scale(1);opacity: 1;}
    100% {-webkit-transform: scale(0.95);opacity: 1;}}
@keyframes tossing {
    0% {transform: rotate(-8deg);}
    50% {transform: rotate(8deg);}
    100% {transform: rotate(-8deg);}}
@-webkit-keyframes tossing {
    0% {-webkit-transform: rotate(-8deg);}
    50% {-webkit-transform: rotate(8deg);}
    100% {-webkit-transform: rotate(-8deg);}}
@-moz-keyframes circle-anim {
    0% {-moz-transform: rotate(0deg) scale(0.5) skew(1deg);opacity: .1;-moz-opacity: .1;-webkit-opacity: .1;-o-opacity: .1;}
    30% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .5;-moz-opacity: .5;-webkit-opacity: .5;-o-opacity: .5;}
    100% {-moz-transform: rotate(0deg) scale(1) skew(1deg);opacity: .6;-moz-opacity: .6;-webkit-opacity: .6;-o-opacity: .1;}}
@-webkit-keyframes circle-anim {
    0% {-webkit-transform: rotate(0deg) scale(0.5) skew(1deg);-webkit-opacity: .1;}
    30% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);-webkit-opacity: .5;}
    100% {-webkit-transform: rotate(0deg) scale(1) skew(1deg);-webkit-opacity: .1;}}
@-o-keyframes circle-anim {
    0% {-o-transform: rotate(0deg) kscale(0.5) skew(1deg);-o-opacity: .1;}
    30% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);-o-opacity: .5;}
    100% {-o-transform: rotate(0deg) scale(1) skew(1deg);-o-opacity: .1;}}
@keyframes circle-anim {
    0% {transform: rotate(0deg) scale(0.5) skew(1deg);opacity: .1;}
    30% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .5;}
    100% {transform: rotate(0deg) scale(1) skew(1deg);
        opacity: .1;}}
@-moz-keyframes circle-fill-anim {
    0% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
    50% {-moz-transform: rotate(0deg) -moz-scale(1) skew(1deg);opacity: .2;}
    100% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@-webkit-keyframes circle-fill-anim {
    0% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;  }
    50% {-webkit-transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;  }
    100% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@-o-keyframes circle-fill-anim {
    0% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
    50% {-o-transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;}
    100% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@keyframes circle-fill-anim {
    0% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
    50% {transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;}
    100% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}

.btn-gold {
    display: inline-block;
    position: relative;
    color: #ffffff;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "AkrobatExtraBold";
}

@media only screen and (max-width: 480px) {
    .btn-gold {
        font-size: 14px;
    }
}

.btn-gold:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 100%;
    -webkit-transition: width .4s ease-in-out;
    transition: width .4s ease-in-out;
}

.btn-gold:hover:before {
    width: 100%;
}

.btn-theme {
    border: 1px solid #e1b97a;
}

.btn-theme:before {
    background-color: #e1b97a;
}

.btn-lg {
    padding: 20px 40px;
}

.btn-gold-inside {
    position: relative;
}


.lineHeader {
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-align: center;
}

.lineHeader:before,
.lineHeader:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 1px;
    background: #E1B97A;
    z-index: -1;
    position: relative;
    vertical-align: middle;
}

.lineHeader:before {
    right: 15px;
    margin: 0 0 0 -100%;
}

.lineHeader:after {
    left: 15px;
    margin: 0 -100% 0 0;
}

.slick-center .slide-h3 {
    color: #FFF;
}

.slider {
    width: 600px;
    height: auto;
    margin: 20px auto;
    text-align: center;
}

.slide-h3 {
    margin: 10% 0 10% 0;
    padding: 40% 20%;
    background: red;
}

.slider div {
    margin-right: 5px;
}

.slick-slide {
    opacity: .6;
    width:10px;
}

.slick-center {
    display: block;
    max-width: 10% !important;
    max-height: 20% !important;
    opacity: 1;
}

.sponsor {
    margin-left: 5%;
    margin-right: 5%;
}

.contact-header {
    padding: 10px 10px 10px 0;
    border-bottom: 1px solid #dabf8a;
    color: #dabf8a;
}

.contacts-body {
    margin-top: 15px;
    border-bottom: 1px solid #dabf8a;
}

.contacts-buttons {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dabf8a;
}

.btn-contacts {
    height: 42px;
    border: none;
    background: white;
    color: black;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    margin-right: 20px;
}

.socials {
    padding-top: 20px;
    padding-bottom: 20px;
}

.quiz-header {
    background: url(/assets/images/quiz-header-bg.png) center center no-repeat;
    position: relative;
    background-size: cover;
    z-index: 1;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.quiz-header p {
    padding-top: 10px;
    padding-bottom: 10px;

}

.quiz-wrapper {
    width: 100%;
    margin: 0;
}

.quiz-wrapper:after {
    content: "";
    display: table;
    clear: both;
}

.quiz-mob {
    width: 100%;
    float: left;
}

.quiz {
    display: inline-block;
    width: 70%;
    float: left;
}

.quiz-status {
    position: relative;
    width: 100%;
    text-align: center;
}

.quiz-status-text {
    text-align: center;
}

.quiz-status-bar img {
    width: 10%;
    margin-right: 25px;
}

.quiz-side {
    display: inline-block;
    width: 25%;
    border: 1px solid #dabf8a;
    text-align: center;
    padding: 20px;
    float: left;
}

.quiz-side img {
    width: 100%;
}


.quiz-body-header {
    text-align: center;
}

.grid {
    width: 100%;
}

.grid:after {
    content: "";
    display: table;
    clear: both;
}

.col-2-3 {
    float:left;
    width: 60%;
}

.col-1-3 {
    float: left;
    width: 33%;
    height: 90%;
}

.col-1-2 {
    float: left;
    width: 43%;
}

.col-1-4 {
    float: left;
    width: 24%;
}

.slidecontainer {
    width: 100%;
}

.q-slider {
    /*-moz-appearance: none;*/
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    /*-moz-transition: .2s;*/
    transition: opacity .2s;
}

.q-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #dabf8a;
    cursor: pointer;
}

.q-slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #dabf8a;
    cursor: pointer;
}

.load-file {
    width: 100%;
    margin-top: 200px;
}

.file-input {
    display: none;
}

.file-name {
    background: #f4f3ef;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

/* Customize the label (the container) */
.input-wrap {
    display: block;
    position: relative;
    padding: 35px;
    margin-bottom: 100px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*border: 1px solid #dabf8a;*/
}

/* Hide the browser's default checkbox */
.input-wrap input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 35%;
    left: -3%;
    height: 25px;
    width: 25px;
    background-color: #ccc;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
}

/* On mouse-over, add a grey background color */
.input-wrap:hover input ~ .checkmark {
    background-color: #dabf8a;
}

/* When the checkbox is checked, add a blue background */
.input-wrap input:checked ~ .checkmark {
    background-color: #dabf8a;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.input-wrap input:checked ~ .checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */
.input-wrap .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


#qSampleForm{margin-bottom: 10px;}
#qSampleForm input{width:300px;box-sizing: border-box;border: 0.3px solid #141414;padding: 10px;color: #666;font-family: 'IBML';font-size: 17px;background:#f4f3ef;}
#qSampleForm input:focus{color: #000;border:1px solid #ac9058;}

.thanx {
    width: 100%;
    text-align: center;
    padding: 40px;
}

.thanx-header {
    font-size: 30px;
    text-transform: uppercase;
}

.img-input-wrap {
    display: block;
    position: relative;
    padding-left: 15px;
    margin-bottom: 100px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.img-input-wrap img {
    opacity: 0.5;
}

.q1 img {
    display: block;
    max-height: 150px;
}

.q2 img {
    display: block;
    height: 130px;

}

.img-input-wrap img:hover {
    opacity: 1;
}

/* Hide the browser's default checkbox */
.img-input-wrap input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.img-checkmark {
    position: absolute;
    bottom: -10%;
    left: 46%;
    height: 25px;
    width: 25px;
    background-color: #ccc;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
}

/* On mouse-over, add a grey background color */
.img-input-wrap:hover input ~ .img-checkmark {
    background-color: #dabf8a;
}

/* When the checkbox is checked, add a blue background */
.img-input-wrap input:checked ~ .img-checkmark {
    background-color: #dabf8a;
}

.img-input-wrap input:checked ~ .img-input-wrap {
    opacity: 1;
}

.img-input-wrap input:checked ~ .img-input-wrap img {
    opacity: 1;
}

.img-input-wrap:hover {
    opacity: 1;
}

/* Create the checkmark/indicator (hidden when not checked) */
.img-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.img-input-wrap input:checked ~ .img-checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.img-input-wrap .img-checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.quiz-1 p {
    margin-top: 15px;
}

.quiz-3 p {
    margin-top: 15px;
}

@media (max-width: 1278px) {
    .quiz-side {
        display: none;
    }

    .quiz {
        width: 100%;
    }

    .mouse {
        display: none;
    }
}